<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Редактировать "<%= resume.title %>"</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="/resume">Мои резюме</a></li>
                    <li class="breadcrumb-item active">Редактировать резюме</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form class="custom-validation" action="/resume/<%= resume._id %>/edit" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Название резюме <small>(видно только вам)</small></label>
                        <input id="title" name="title" type="text" class="form-control"
                               placeholder="Резюме маркетолога и тд." value="<%= resume.title %>" required/>
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">Ваше имя</label>
                        <input type="text" id="name" name="name" class="form-control"
                               placeholder="Абдувохид Ахмедов и тд." value="<%= resume.name %>" required/>
                    </div>

                    <div class="mb-3">
                        <label for="living_city" class="form-label">Город проживания</label>
                        <input type="text" id="living_city" name="living_city" class="form-control"
                               placeholder="Ташкент, Узбекистан и тд." value="<%= resume.living_city %>"/>
                    </div>

                    <div class="mb-3">
                        <label for="gender" class="form-label">Ваш пол</label>
                        <select name="gender" id="gender" class="form-select" value="<%= resume.gender %>">
                            <option value="hidden" <%= selector.isSelected(resume.gender, 'hidden') %>>Не указан
                            </option>
                            <option value="male" <%= selector.isSelected(resume.gender, 'male') %>>Мужчина</option>
                            <option value="female" <%= selector.isSelected(resume.gender, 'female') %>>Женщина</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="job_position" class="form-label">Ваша позиция</label>
                        <input type="text" id="job_position" name="job_position" class="form-control"
                               placeholder="Главный маркетолог-финансист и тд." value="<%= resume.job_position %>"/>
                    </div>

                    <div class="mb-3">
                        <label for="about" class="form-label">О вас</label>
                        <textarea id="about" name="about" class="form-control"
                                  placeholder="Я студент университета и тд."><%= resume.about %></textarea>
                    </div>

                    <div>
                        <div>
                            <button type="submit" class="btn btn-success waves-effect waves-light me-1">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <% if (resume.status === 'public') { %>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor">
                    <input type="hidden" name="status" value="private"/>
                    <button type="submit" class="btn btn-outline-success">Сделать приватным</button>
                </div>
            </form>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor mt-n3">
                    <input type="hidden" name="status" value="draft"/>
                    <button type="submit" class="btn btn-outline-secondary">Перенести в черновики</button>
                </div>
            </form>
        <% } %>
        <% if (resume.status === 'private') { %>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor">
                    <input type="hidden" name="status" value="public"/>
                    <button type="submit" class="btn btn-success">Сделать публичным</button>
                </div>
            </form>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor mt-n3">
                    <input type="hidden" name="status" value="draft"/>
                    <button type="submit" class="btn btn-outline-secondary">Перенести в черновики</button>
                </div>
            </form>
        <% } %>
        <% if (resume.status === 'draft') { %>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor">
                    <input type="hidden" name="status" value="public"/>
                    <button type="submit" class="btn btn-success">Сделать публичным</button>
                </div>
            </form>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor mt-n3">
                    <input type="hidden" name="status" value="private"/>
                    <button type="submit" class="btn btn-outline-success">Сделать приватным</button>
                </div>
            </form>
        <% } %>
        <%- include('../components/support_block') %>
    </div>
</div>
