<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Редактировать "<%= resume.title %>"</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="/resume">Мои резюме</a></li>
                    <li class="breadcrumb-item active">Редактировать резюме</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form class="custom-validation" action="/resume/<%= resume._id %>/edit" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Название резюме <small>(видно только вам)</small></label>
                        <input id="title" name="title" type="text" class="form-control"
                               placeholder="Резюме маркетолога и тд." value="<%= resume.title %>" required/>
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">Ваше имя</label>
                        <input type="text" id="name" name="name" class="form-control"
                               placeholder="Абдувохид Ахмедов и тд." value="<%= resume.name %>" required/>
                    </div>

                    <div class="mb-3">
                        <label for="job_position" class="form-label">Ваша позиция</label>
                        <input type="text" id="job_position" name="job_position" class="form-control"
                               placeholder="Главный маркетолог-финансист и тд." value="<%= resume.job_position %>"/>
                    </div>

                    <div class="mb-3">
                        <label for="about" class="form-label">О вас</label>
                        <textarea id="about" name="about" class="form-control"
                                  placeholder="Я студент университета и тд."><%= resume.about %></textarea>
                    </div>

                    <div>
                        <div>
                            <button type="submit" class="btn btn-success waves-effect waves-light me-1">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <% if (resume.status === 'public') { %>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor">
                    <input type="hidden" name="status" value="private"/>
                    <button type="submit" class="btn btn-outline-success">Сделать приватным</button>
                </div>
            </form>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor mt-n3">
                    <input type="hidden" name="status" value="draft"/>
                    <button type="submit" class="btn btn-outline-secondary">Перенести в черновики</button>
                </div>
            </form>
        <% } %>
        <% if (resume.status === 'private') { %>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor">
                    <input type="hidden" name="status" value="public"/>
                    <button type="submit" class="btn btn-success">Сделать публичным</button>
                </div>
            </form>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor mt-n3">
                    <input type="hidden" name="status" value="draft"/>
                    <button type="submit" class="btn btn-outline-secondary">Перенести в черновики</button>
                </div>
            </form>
        <% } %>
        <% if (resume.status === 'draft') { %>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor">
                    <input type="hidden" name="status" value="public"/>
                    <button type="submit" class="btn btn-success">Сделать публичным</button>
                </div>
            </form>
            <form action="/resume/<%= resume._id %>/status" method="post">
                <div class="card no-cursor mt-n3">
                    <input type="hidden" name="status" value="private"/>
                    <button type="submit" class="btn btn-outline-success">Сделать приватным</button>
                </div>
            </form>
        <% } %>
                <div class="card no-cursor mt-n3">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target=".bs-delete-modal-center">Удалить</button>
                </div>
            <div class="modal fade bs-delete-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Удалить "<%= resume.title %>"?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Cras mattis consectetur purus sit amet fermentum.
                                Cras justo odio, dapibus ac facilisis in,
                                egestas eget quam. Morbi leo risus, porta ac
                                consectetur ac, vestibulum at eros.</p>
                            <p>Praesent commodo cursus magna, vel scelerisque
                                nisl consectetur et. Vivamus sagittis lacus vel
                                augue laoreet rutrum faucibus dolor auctor.</p>
                            <p class="mb-0">Aenean lacinia bibendum nulla sed consectetur.
                                Praesent commodo cursus magna, vel scelerisque
                                nisl consectetur et. Donec sed odio dui. Donec
                                ullamcorper nulla non metus auctor
                                fringilla.</p>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        <%- include('../components/support_block') %>
    </div>
</div>
