<div class="row no-cursor">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0"><%= resume.title %></h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="/resume">Мои резюме</a></li>
                    <li class="breadcrumb-item active"><%= resume.title %></li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row no-cursor">
    <div class="col-md-8">
        <div class="card card-body mb-0 border-bottom-none">
            <h4 class="card-title"><b><%= resume.name %></b> <a href="#" class="float-end"
                                                                data-bs-toggle="modal"
                                                                data-bs-target=".bs-edit-resume-modal-center">[редактировать]</a>
            </h4>
            <% if (resume.job_position) { %>
                <h6 class="card-subtitle font-14 text-muted"><%= resume.job_position %></h6>
            <% } %>
            <% if (resume.living_city || resume.birthday || (resume.gender && resume.gender !== 'hidden') || (resume.about && resume.about !== '')) { %>
                <div>&nbsp;</div>
            <% } %>
            <% if (resume.birthday) { %>
                <div class="card-text"><b>Дата рождения:</b> <%= moment(resume.birthday).format('DD/MM/YYYY') %></div>
            <% } %>
            <% if (resume.living_city) { %>
                <div class="card-text"><b>Город проживания:</b> <%= resume.living_city %></div>
            <% } %>
            <% if (resume.gender && resume.gender !== 'hidden') { %>
                <div class="card-text"><b>Пол:</b> <%= selector.tGender(resume.gender) %></div>
            <% } %>
            <% if (resume.about && resume.about !== '') { %>
                <% if (resume.living_city || (resume.gender && resume.gender !== 'hidden')) { %>
                    <div>&nbsp;</div>
                <% } %>
                <div class="card-text"><b>Обо мне:</b> <%= resume.about %></div>
            <% } %>
        </div>
        <div class="card border-top-none bg-soft-light">
            <div class="card-body d-flex flex-wrap justify-content-around">
                <div class="col-lg-4 p-1">
                    <a href="#" class="btn btn-soft-secondary d-block"><i class="mdi mdi-email"></i>&nbsp;Показать почту</a>
                </div>
                <div class="col-lg-4 p-1">
                    <a href="#" class="btn btn-soft-secondary d-block"><i
                                class="mdi mdi-phone"></i>&nbsp;Показать номер</a>
                </div>
                <div class="col-lg-4 p-1">
                    <a href="#" class="btn btn-soft-secondary d-block"><i
                                class="mdi mdi-telegram"></i>&nbsp;Показать юзернейм</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-muted"><b>Опыт работы</b> <a href="#" class="float-end"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target=".bs-job-modal-center">[добавить]</a>
                </h5>
                <% if (resume.jobs.length > 0) { %>
                    <% for (const job of resume.jobs) { %>
                        <% const to_date = job.to_date ? moment(job.to_date).format('MMMM YYYY') : 'Сейчас' %>
                        <% const from_date = moment(job.from_date).format('MMMM YYYY') %>
                        <% const expanded = !!(job.duties || job.achievements) %>
                        <div class="card card-body border border-light job_header bg-soft-light text-black-50 mb-0 mt-3"
                             aria-expanded="<%= expanded %>">
                            <div class="card-text">
                                <span class="text-muted"><b><%= job.title %></b></span>&nbsp;в&nbsp;<%= job.company %>
                                <span class="float-end pointer-cursor"
                                      data-bs-toggle="modal"
                                      data-bs-target=".bs-delete-job-modal-<%= job._id %>">[удалить]</span>
                            </div>
                            <div class="card-text">
                                <span class="text-muted"><%= from_date %> - <%= to_date %></span>&nbsp;//&nbsp;<%= job.location %>
                            </div>
                        </div>
                        <% if (job.duties || job.achievements) { %>
                            <div class="card card-body job_content bg-light text-black-50 mb-0">
                                <b class="d-block">Обязанности:</b>
                                <% if (job.duties) { %>
                                    <p class="mb-0"><%- nl2br(job.duties) %></p>
                                <% } %>
                                <% if (job.achievements) { %>
                                    <% if (job.duties) { %>
                                        <div>&nbsp;</div>
                                    <% } %>
                                    <b class="d-block">Достижения:</b>
                                    <p class="mb-0"><%- nl2br(job.achievements) %></p>
                                <% } %>
                            </div>
                        <% } %>
                        <%- include('../modals/delete_job', {job}) %>
                    <% } %>
                <% } else { %>
                    <h6 class="font-14 text-muted mb-0">Нет данных</h6>
                <% } %>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-muted"><b>Образование</b> <a href="#" class="float-end"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target=".bs-education-modal-center">[добавить]</a>
                </h5>
                <% if (resume.educations.length > 0) { %>
                    <% for (const education of resume.educations) { %>
                        <% const to_date = education.to_date ? moment(education.to_date).format('YYYY') : 'Сейчас' %>
                        <% const from_date = moment(education.from_date).format('YYYY') %>
                        <div class="card card-body border border-light job_header bg-soft-light text-black-50 mb-0 mt-3">
                            <div class="card-text">
                                <span class="text-muted"><b><%= education.name %></b></span>
                                <span class="float-end pointer-cursor"
                                      data-bs-toggle="modal"
                                      data-bs-target=".bs-delete-education-modal-<%= education._id %>">[удалить]</span>
                            </div>
                            <div class="card-text">
                                <span class="text-muted"><%= from_date %> - <%= to_date %></span>&nbsp;//&nbsp;<%= education.location %>
                            </div>
                            <div class="card-text"><%= education.course %></div>
                            <% if (education.award) { %>
                                <div class="card-text"><span
                                            class="text-muted">Оценка:</span>&nbsp;<%= education.award %></div>
                            <% } %>
                        </div>
                        <%- include('../modals/delete_education', {education}) %>
                    <% } %>
                <% } else { %>
                    <h6 class="font-14 text-muted mb-0">Нет данных</h6>
                <% } %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card no-cursor">
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target=".bs-delete-modal-center">Удалить
            </button>
        </div>
        <!--        <div class="card">-->
        <!--            <a href="/resume/new" class="btn btn-success waves-effect">Создать резюме</a>-->
        <!--        </div>-->
        <%- include('../components/support_block') %>
    </div>
</div>

<%- include('../modals/edit_resume') %>
<%- include('../modals/delete_resume') %>
<%- include('../modals/add_job') %>
<%- include('../modals/add_education') %>
