<!doctype html>
<html lang="en">

<%- include('sections/_header') %>

<body data-topbar="dark" data-layout="horizontal" data-layout-size="boxed">

<!-- Begin page -->
<div id="layout-wrapper">
    <%- include('sections/_topbar') -%>
    <%- include('sections/_topnav') -%>
    <div class="main-content overflow-visible">
        <div class="page-content">
            <div class="container-fluid">
                <%- body %>
            </div>
        </div>
        <%- include('sections/_footer') -%>
    </div>
</div>
<!-- END layout-wrapper -->

<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>

<!--<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>-->
<!--<script src="/assets/libs/admin-resources/rwd-table/rwd-table.min.js"></script>-->

<!--<script src="/assets/libs/jqvmap/jquery.vmap.min.js"></script>-->
<!--<script src="/assets/libs/jqvmap/maps/jquery.vmap.usa.js"></script>-->

<!--<script src="/assets/js/pages/dashboard.init.js"></script>-->
<!--<script src="/assets/js/pages/table-responsive.init.js"></script>-->

<script src="/assets/js/app.js"></script>
<script src="/assets/js/custom.js"></script>

</body>
</html>
